@media(max-width:992px){
    .container{
        margin-top: 100px;
    }
}
@media(max-width:768px){
    .container{
        margin-top: 80px;
    }
}
@media(max-width:576px){
    .container{
        margin-top: 55px;
    }
}