html,body{
    height:100%;
    width:100%;
}

body{
    background-image: url("../../images/banner-with-overlay.jpg" );
    background-repeat: no-repeat;
}
#signup{
    height: 100%;
    width:100%;
}
.container{
    margin-top:100px;
    width:580px;
    height:1000px;
}
#signup-box{
    max-width: 100%;
    margin:25px auto;
    background-color: #fff;
    padding:50px;
    border-radius: 5px;
}

/******* logo ******/
#top-logo{
    margin-top: 10px;
}

/************ heading **********/

#heading{
    margin-bottom:30px;
    font-family: "open sans",sans-serif;
}

#heading h2{
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin-bottom: 20px;
}
#heading p{
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
}

#signed-up{
    color:limegreen;
    margin-bottom: 10px;
    display: block;
}
#signed-up .fa{
    margin-right: 6px;
}




/********* Form inputs *****/
.field-validation-error {
    font-family: "open sans",sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    color: red;
    margin-right: 0px;
    float:right;
}
.field-validation-valid{
    display:none;
}
#email {
    font-family: "open sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
    margin-left: 0px;
}
input[type=email]{
    font-family: "open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #000;
    border: 1px solid #6255a5;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 30px;
}
#firstname{
    font-family:"open sans" ,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#333;
    margin-left: 0px;
}
#lastname{
    font-family:"open sans" ,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#333;
    margin-left: 0px;
}
input[type="text"]{
    font-family: "open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    border: 1px solid #6255a5;
    width: 480px;
    max-width: 100%;
    height: 50px;
    border-radius: 3px;
    margin-bottom: 5px;
}
.password{
    font-family:"open sans" ,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#333;
    margin-left: 0px;
}
input[type="password"]{
    font-family: "open Sans", sans-serif;
    font-size: 16px;
    border: 1px solid #6255a5;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    width: 480px;
    max-width: 100%;
    height: 50px;
    border-radius: 3px;
    margin-bottom:5px;
  }
.field-icon {
    float: right;
    margin-left: -20px;
    margin-top: -42px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
  }
.field-icon:hover{
    cursor: pointer;
}
#login-link a{
    color: #6255a5;
}
#login-link p{
    font-family: "open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;

 }
/*** button ****/
  .btn-general{
      color: #6255a5;
      background-color: #6255a5;
      width:480px;
      max-width:100%;
      height:50px;
      border-radius: 3px;
      color:#fff;
      font-family: "open Sans", sans-serif;
      font-size: 18px;
      line-height: 22px;
      padding-top: 4px;
      margin-bottom: 20px;
}
